.features {
  @include section;

  @media screen and (min-width: 1200px) {
    @include section(94px, 94px);
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features__item {
  width: 100%;

  @media screen and(min-width: 768px) {
    width: 354px;
  }

  @media screen and(min-width: 1200px) {
    width: 270px;
  }
}

.features__thumb {
  width: 100%;
  background: #f5f4fa;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features__icon {
  display: block;
}

.features__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;

  @media screen and(min-width: 768px) {
    text-align: left;
  }
}

.features__text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
}
